.Fin{
    color: blue;
    font-weight: bold;
}
.Pay{
    color:yellow;
    font-weight: bold;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.logo {
    font-size: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background: #288CD2;
  }